.App {
  padding: 10%
}

.cell {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid;
  text-align: center;
  padding: 1%;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}